.App {
  text-align: center;
  margin: 0px auto;
  background-color: #3f3f37;
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: 'serif';
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

html, body, h1, h2 {
  margin: 0;
  padding: 0;
}

#results {
  display: flex;
  gap: 8px;
  flex-flow: row wrap;
  justify-content: center;
}

#controls {
  display: flex;
  flex-flow: wrap;
  gap: 0px;
  justify-content: center;
}

.dice-button {
  background-color: white;
  border: 2px solid black;
  background: white;
  width: 64px;
  aspect-ratio: 1/1;
}